@font-face {
    font-family: klavika ;
    src: url("fontes/klavika-bold.otf");
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    width: 250px;
    height: 250px;
    background: blue;
    border-radius: 50%;
    position: absolute;
}

.f {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    width: 250px;
    color: white;
    font-size: 320px;
    font-family:klavika , sans-serif;
    font-weight: 600;
    margin-top: 35px;
    

}